/* Base layout */
body {
  margin: 0;
  background-color: #99b4e9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* App container */
.app-container {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

/* Heading */
h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #8e37c8;
  text-align: center;
}

/* Dropdown styling */
.filter-dropdown {
  margin-bottom: 20px;
  font-size: 16px;
}

select {
  padding: 8px 14px;
  border: 1px solid #150101;
  border-radius: 6px;
  font-size: 15px;
  margin-left: 10px;
}

/* Card styling */
.dashboard-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  transition: transform 0.2s ease;
}

.dashboard-card:hover {
  transform: scale(1.01);
}

/* Table */

.campaign-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.campaign-table th,
.campaign-table td {
  padding: 14px 18px;
  border: 1px solid #d3d3d3; 
  text-align: left;
}

.campaign-table th {
  background-color: #baaef0;
  color: #222;
  font-weight: bold;
}

.campaign-table tr:nth-child(even) {
  background-color: #fafafa;
}

.campaign-table tr:hover {
  background-color: #f1f1f1;
  transition: 0.2s ease;
}

/*  Colored status */
.status-active {
  color: green;
  font-weight: bold;
}

.status-paused {
  color: crimson;
  font-weight: bold;
}
